RewriteEngine On
RewriteCond $1 !^(public/|favicon\.ico|robots\.txt|index\.php)
RewriteRule ^(.*)$ index.php [L]

<IfModule mod_php5.c>
    php_value log_errors On
    php_value magic_quotes_gpc Off
    php_value post_max_size 32M
    php_value upload_max_filesize 32M
</IfModule>
