
/* Extra CSS for IE 9 */

#header form button { padding-top: 6px; padding-bottom: 6px; }

#read_actions button { padding-top: 2px; padding-bottom: 2px; }
#read_encoding button { padding-top: 2px; padding-bottom: 2px; }
#attachments span button { padding-top: 2px; padding-bottom: 2px; }